/* ============================
    SASS Variables
 ============================= */

$white: #fff;
$blue: #374a67;
$green: #397367;
$gray: #9c91a6;

$border: 5px;

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-image: url("../../Pictures/background-image.jpg");
    background-size: contain;
    background-repeat: repeat;
}

/* ============================
    Nav
 ============================= */

.navbar {
    background-color: $blue;
    min-height: 80px;

    a {
        color: $white;
    }

    .btn-outline-success {
        border: 1px solid $white;
        color: $white;

        &:hover {
            background-color: $white;
            color: $gray;
        }
    }

    .dropdown-menu {
        a {
            color: #000;
        }
    }

    .form-control {
        width: 200px;
    }
}


/* ============================
    Front page container
 ============================= */

.container {
    width: 60%;
    background-color: $white;
    padding: 50px 0;

    .split-container {
        min-height: 250px;
        padding: 15px;
        overflow: hidden;
        transform: scale(1);
        transition: 0.5s;

        img {
            width: 100%;
            transform: scale(1);
            transition: 0.5s;
        }

        &:hover {
            transform: scale(1.02);
            transition: 0.5s;
            z-index: 200;

            img {
                transform: scale(0.96);
                transition: 0.5s;
            }
        }
    }

    .commercials {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .commercial {
            display: inline-block;
            .logo-img {
                height: 200px;
                width: 200px;
            }
        }
    }
}


.form-inline .form-control {
    width: 150px;
}

/* ============================
    Footer
 ============================= */

footer {
    background-color: $blue;
    color: $white;
    min-height: 80px;

    .footer-container {
        width: 60%;
        background-color: $blue;
        padding: 50px 0;
        margin: 0 auto;
    }
}

/* ============================
    Media queries
 ============================= */

@media only screen and (max-width: 1200px) {
    .commercial-box, .category-box {
        display: none;
    }
}