/* ============================
    SASS Variables
 ============================= */
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background-image: url("../../Pictures/background-image.jpg");
  background-size: contain;
  background-repeat: repeat; }

/* ============================
    Nav
 ============================= */
.navbar {
  background-color: #374a67;
  min-height: 80px; }
  .navbar a {
    color: #fff; }
  .navbar .btn-outline-success {
    border: 1px solid #fff;
    color: #fff; }
    .navbar .btn-outline-success:hover {
      background-color: #fff;
      color: #9c91a6; }
  .navbar .dropdown-menu a {
    color: #000; }
  .navbar .form-control {
    width: 200px; }

/* ============================
    Front page container
 ============================= */
.container {
  width: 60%;
  background-color: #fff;
  padding: 50px 0; }
  .container .split-container {
    min-height: 250px;
    padding: 15px;
    overflow: hidden;
    transform: scale(1);
    transition: 0.5s; }
    .container .split-container img {
      width: 100%;
      transform: scale(1);
      transition: 0.5s; }
    .container .split-container:hover {
      transform: scale(1.02);
      transition: 0.5s;
      z-index: 200; }
      .container .split-container:hover img {
        transform: scale(0.96);
        transition: 0.5s; }
  .container .logo-img {
    height: 200px;
    width: 200px; }

.form-inline .form-control {
  width: 150px; }

/* ============================
    Footer
 ============================= */
footer {
  background-color: #374a67;
  color: #fff;
  min-height: 80px; }
  footer .footer-container {
    width: 60%;
    background-color: #374a67;
    padding: 50px 0;
    margin: 0 auto; }

/* ============================
    Media queries
 ============================= */
@media only screen and (max-width: 1200px) {
  .commercial-box, .category-box {
    display: none; } }
